<md-dialog aria-label="a" id="size_regular2">
  <form name="myform" ng-cloak autocomplete="off" spellcheck="false">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <any ng-if="!form.obj.id">Nuevo</any>
          <any ng-if="form.obj.id">Editar</any> Producto
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="form.cancel()">
          <ng-md-icon icon='close'></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex>
             <angular-barcode ng-model="form.obj.codigo" bc-options="opciones" bc-class="barcode" bc-type="svg"></angular-barcode>
            <label>Codigo</label>
            <input ng-model="form.obj.codigo" name="codigo" md-maxlength="20" md-autofocus>
            <div ng-messages="myform.codigo.$error" role="alert" multiple>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Nombre</label>
            <input ng-model="form.obj.nombre" required name="nombre" md-maxlength="120" minlength="3">
            <div ng-messages="myform.nombre.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
              <div ng-message="minlength">Minimo 3 caracteres</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Stock</label>
            <input ng-model="form.obj.stock" required name="stock" md-maxlength="20">
            <div ng-messages="myform.stock.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
            </div>
        </md-input-container>
      </div>
        <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Categoria</label>
            <md-select ng-model="form.obj.categoria_id" name="categoria_id" required>
              <md-option ng-repeat="p in form.categorias" ng_value="p.id">{{p.nombre}}</md-option>
            </md-select>
            <div ng-messages="myform.categoria_id.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
            </div>
          </md-input-container>
           <md-input-container class="md-block" flex>
            <label>Precio venta</label>
            <input ng-model="form.obj.precio_venta" required name="precio_venta" md-maxlength="20">
            <div ng-messages="myform.precio_venta.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
            </div>
        </md-input-container>

           <md-input-container class="md-block" flex>
            <label>Descripcion</label>
            <input ng-model="form.obj.descripcion" name="descripcion">
          </md-input-container>
       </div>
       </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      {{form.obj.nombre}}
      <span flex></span>
      <md-button class="md-raised" ng-click="form.cancel()">
       Cancelar
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-click="form.guardar()"
      ng-disabled="!myform.$valid">
          <any ng-if="!form.obj.id">REGISTRAR</any>
          <any ng-if="form.obj.id">ACTUALIZAR</any>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>