<div class="md-padding" layout-gt-xs="row">
	<div flex-gt-xs="30" flex>
		<div layout="row" flex>
			<md-input-container class="md-block" flex>
	            <label>Ingrese DNI</label>
	            <input ng-model="ctrl.dni" required minlength="8" maxlength="8">
	        </md-input-container>
	        <span><md-button type="submit" class="md-raised md-primary" ng-click="ctrl.consultar(ctrl.dni)" ng-disabled="!ctrl.dni">CONSULTAR</md-button></span>
	    </div>
	</div>
	<div flex-gt-xs="70" flex>
		<table>
			<tr>
				<th>Nombres:</th>
				<td width="150">{{ctrl.obj.nombres}}</td>
			</tr>
			<tr>
				<th>Apellidos:</th>
				<td>{{ctrl.obj.apellidos}}</td>
			</tr>
			<tr>
				<th>Fecha nacimiento:</th>
				<td></td>
			</tr>
			<tr>
				<th>Distrito:</th>
				<td>{{ctrl.obj.distrito}}</td>
			</tr>
			<tr>
				<th>Provincia:</th>
				<td>{{ctrl.obj.provincia}}</td>
			</tr>
			<tr>
				<th>Departamento:</th>
				<td>{{ctrl.obj.departamento}}</td>
			</tr>
		</table>
	</div>
</div>

<style type="text/css">
	table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid silver;
}
tr:nth-child(even) {background-color: #f2f2f2;}
</style>