/* 
* 
*/
/*
html {
    background-color: #efefef;
}*/

.box {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

.box .box-row {
    display: table-row;
    height: 100%;
}

.box .box-row .box-cell {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.ie .box .box-row .box-cell {
    display: table-cell;
}

.box .box-col {
    display: table-cell;
    vertical-align: top;
}

.box .box-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.box > [class*="col-"],
.box > [class*=" col-"] {
    position: static;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

@media (min-width: 1200px) {
    .box > [class*="col-lg"],
    .box > [class*=" col-lg"] {
        display: table-cell;
    }
}

@media (min-width: 992px) {
    .box > [class*="col-md"],
    .box > [class*=" col-md"] {
        display: table-cell;
    }
}

@media (min-width: 768px) {
    .box > [class*="col-sm"],
    .box > [class*=" col-sm"] {
        display: table-cell;
    }
}

@media (max-width: 767px) {
    .box > [class*="col-xs"],
    .box > [class*=" col-xs"] {
        display: table-cell;
    }
    .box .box-inner {
        position: relative !important;
    }
}

.content-reset {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-open .app {
    overflow: hidden;
}

.app-aside {
    position: absolute !important;
    top: 0;
    bottom: 0;
    z-index: 60;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    opacity: 1;
    box-shadow: 0 64px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.scrollable.hover {
    overflow-y: hidden !important;
}

.scrollable.hover > * {
    margin-top: -1px;
}

.scrollable.hover:hover {
    overflow: visible !important;
    overflow-y: auto !important;
}

.smart .scrollable {
    overflow-y: auto !important;
}

.scroll-x,
.scroll-y {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.scroll-y {
    overflow-y: auto;
}

.scroll-x {
    overflow-x: auto;
}


.dialog_pdf{
    min-width: 900px;
}

@media screen and (max-width: 399px){
    .dialog_pdf{
        min-width: 300px;
    }
}

@media screen and (max-width: 499px) and (min-width: 400px) { 
    .dialog_pdf{
        min-width: 400px;
    }
}

@media screen and (max-width: 599px) and (min-width: 500px) { 
    .dialog_pdf{
        min-width: 500px;
    }
}

@media screen and (max-width: 959px) and (min-width: 600px) {
    .dialog_pdf{
        min-width: 600px;
    }
}

.cargando_fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index:40;
    opacity:0.30;
    -moz-opacity: 10;
    filter: alpha(opacity=100);

}

.cargando_valores {
    position: fixed;
    top: 40%;
    right: 18%;
    left: 18%;
    z-index:50;
    text-align: center;
}

.reduce_margin_button {
    margin: -8px 0px !important;
}

.dialog-actions{
    background: #F2F2F2; border-top-style: solid; border-top-width: 1px; border-top-color: #E6E6E6;
}

md-option {
    height: 30px !important;
}


.navbar .navbar-nav > li > a,
.navbar .navbar-tool > li > a,
.navbar .navbar-item,
.navbar .navbar-brand {
    padding: 0 16px;
    line-height: 64px;
}

.navbar .navbar-tool > li {
    float: left;
}

.navbar .navbar-brand {
    display: block;
    float: none;
    min-height: 64px;
    font-size: 20px;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    text-decoration: none;
}

.navbar .navbar-brand img,
.navbar .navbar-brand svg {
    display: inline-block;
    vertical-align: -10%;
}

@media (max-width: 991px) {
    .navbar {
        min-height: 48px;
    }
    .navbar .navbar-brand {
        min-height: 56px;
    }
    .navbar .navbar-nav > li > a,
    .navbar .navbar-tool > li > a,
    .navbar .navbar-item,
    .navbar .navbar-brand {
        line-height: 56px;
    }
}

/*layout*/

.content-reset {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-open .app {
    overflow: hidden;
}

.app-aside {
    position: absolute !important;
    top: 0;
    bottom: 0;
    z-index: 60;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    opacity: 1;
    box-shadow: 0 64px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.app-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

@media (min-width: 992px) {
    .app-aside {
        display: block !important;
        width: 240px;
    }
    .app-aside.folded {
        width: 0px;
    }
    .app-aside.folded ~ .app-content {
        margin-left: 0px;
    }
    .app-aside ~ .app-content {
        margin-left: 240px;
    }
    .app-aside.md-sidenav-left {
        min-width: 0;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
    }
    .app-aside .left {
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
    }
}

@media (max-width: 991px) {
    .app-aside.modal {
        z-index: 1050;
    }
    .app-aside .left {
        max-width: 304px;
    }
    .app-padding {
        padding: 4px 4px;
    }
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}


/*Charts*/

.bg-white {
    background-color: #fff;
}

.no-border {
    border-color: transparent;
    border-width: 0;
}

.no-borders {
    border-width: 0 !important;
}

@media (max-width: 991px) {
    .no-border-sm {
        border-width: 0;
    }
}

@media (max-width: 767px) {
    .no-border-xs {
        border-width: 0;
    }
}

.padding {
    padding: 32px 32px;
}

.padding-out {
    margin: -32px -32px;
}

@media (max-width: 992px) {
    .padding {
        padding: 16px 16px;
    }
    .padding-out {
        margin: -16px -16px;
    }
}

@media (max-width: 767px) {
    .padding {
        padding: 8px 8px;
    }
    .padding-out {
        margin: -8px -8px;
    }
}

/* Menu main*/

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    overflow-x: hidden;
    font-size: 14px;
}

.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.nav > li.disabled > a {
    color: #777;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.nav > li > a > img {
    max-width: none;
}

nav ul.nav li {
    position: relative;
}

nav ul.nav li li a {
    /*padding-left: 72px; Modicado por Persy*/
    padding-left: 50px;
    line-height: 36px;
}

nav ul.nav li li a .badge,
nav ul.nav li li a .label {
    margin-top: 10px;
}

nav ul.nav li li li a {
    padding-left: 88px;
}

nav ul.nav li li li li a {
    padding-left: 106px;
}

nav ul.nav li a,
nav ul.nav li .nav-item {
    position: relative;
    display: block;
    padding: 0 24px;
    font-weight: normal;
    /*    line-height: 40px;*/
    line-height: 30px;
    text-align: left;
    text-transform: none;
    border-radius: 0 !important;
}

nav ul.nav li a .text,
nav ul.nav li .nav-item .text {
    margin-left: 16px;
}

nav ul.nav li a .up,
nav ul.nav li .nav-item .up {
    z-index: 1;
    margin-left: 16px;
    font-style: normal;
}

nav ul.nav li a > .pull-right ng-md-icon,
nav ul.nav li .nav-item > .pull-right ng-md-icon {
    margin-left: 16px;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

nav ul.nav li a > .icon,
nav ul.nav li .nav-item > .icon {
    top: 0;
    float: left;
    min-width: 40px;
    margin-right: 16px;
    line-height: inherit;
}

nav ul.nav li a > .icon:before,
nav ul.nav li .nav-item > .icon:before {
    display: inline-block;
    width: 24px;
    text-align: center;
    opacity: 0.75;
}

nav ul.nav li a:hover,
nav ul.nav li .nav-item:hover,
nav ul.nav li a:focus,
nav ul.nav li .nav-item:focus {
    background-color: rgba(158, 158, 158, 0.2);
}

nav ul.nav li label {
    display: block;
}

nav ul.nav li label i {
    margin-right: 48px;
    margin-left: -16px;
}

nav ul.nav li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

nav ul.nav li.active > a {
    background-color: transparent;
}

nav ul.nav li.active > a > .pull-right ng-md-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

nav ul.nav.nav-stacked a,
nav ul.nav.nav-stacked .nav-header {
    padding: 0 16px;
    line-height: 30px;
}

nav .nav-header {
    padding: 0 16px;
    line-height: 35px;
}

nav .nav-header:hover,
nav .nav-header:focus {
    background-color: transparent !important;
}

.nav-sub {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

.nav-sub .md-ripple-container {
    display: none;
    visibility: hidden;
}

.active > .nav-sub {
    max-height: 999px;
}

.active > .nav-sub .md-ripple-container {
    display: block;
    visibility: visible;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.badge:empty {
    display: none;
}


blockquote.info_danger {
    padding: 8px;
    margin: 0 0 20px;
    margin-top: 5px;
    border-left: 5px solid silver;
}

/* TABS MODIFY STYLES */

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    background: #8f1656;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Red-theme md-ink-bar, md-tabs md-ink-bar {
    background: #F44336;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Pink-theme md-ink-bar, md-tabs md-ink-bar {
    background: #E91E63;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-altTheme-theme md-ink-bar, md-tabs md-ink-bar {
    background: #9C27B0;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-DeepPurple-theme md-ink-bar, md-tabs md-ink-bar {
    background: #673AB7;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Indigo-theme md-ink-bar, md-tabs md-ink-bar {
    background: #3F51B5;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Blue-theme md-ink-bar, md-tabs md-ink-bar {
    background: #2196F3;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-LightBlue-theme md-ink-bar, md-tabs md-ink-bar {
    background: #03A9F4;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Cyan-theme md-ink-bar, md-tabs md-ink-bar {
    background: #00BCD4;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}
md-tabs.md-Teal-theme md-ink-bar, md-tabs md-ink-bar {
    background: #009688;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}
md-tabs.md-Green-theme md-ink-bar, md-tabs md-ink-bar {
    background: #4CAF50;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}
md-tabs.md-LightGreen-theme md-ink-bar, md-tabs md-ink-bar {
    background: #8BC34A;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Lime-theme md-ink-bar, md-tabs md-ink-bar {
    background: #CDDC39;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Yellow-theme md-ink-bar, md-tabs md-ink-bar {
    background: #FFEB3B;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Amber-theme md-ink-bar, md-tabs md-ink-bar {
    background: #FFC107;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Orange-theme md-ink-bar, md-tabs md-ink-bar {
    background: #FF9800;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-DeepOrange-theme md-ink-bar, md-tabs md-ink-bar {
    background: #FF5722;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Brown-theme md-ink-bar, md-tabs md-ink-bar {
    background: #795548;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-Grey-theme md-ink-bar, md-tabs md-ink-bar {
    background: #9E9E9E;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

md-tabs.md-BlueGrey-theme md-ink-bar, md-tabs md-ink-bar {
    background: #607D8B;
    height: 3px;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
}

.box_1 {
    margin: 0px auto;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.box_1:hover {
    transform: rotate(360deg);

    border-radius: 50%;
}
.rotate_1 {
    transition: all 0.4s ease-in-out;
}
.rotate_1:hover {
    transition: all 0.4s ease-in-out;
}

.border_foto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.border_foto_inscripcion {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.border_foto_inscripcion_reporte {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.border_inscrip {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.border_inscrip_padre {
    padding-right: 4px;
    border-right: 3px;
    border-right-color: silver;
    border-right-style: solid;
}

.menu-item-size{
    min-height: 35px;
    height: 35px;
}
/*md-input-container{
    margin: 12px 0;
}*/

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.foto-persona{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.border_foto_persona {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.cargando_fondo_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D8D8D8;
    z-index:180;
    opacity:0.50;
    -moz-opacity: 10;
    filter: alpha(opacity=100);

}

.cargando_valores_modal {
    position: fixed;
    top: 40%;
    right: 18%;
    left: 18%;
    z-index:200;
    text-align: center;
}

.dd-incompleto{
    background: red; 
    color: white; 
    width: 12px; 
    height: 12px; 
    text-align:center; 
    border-radius: 50%; padding: 2px;
}
.dd-completo{
    background: green; 
    color: white; 
    width: 12px; 
    height: 12px; 
    text-align:center; 
    border-radius: 50%; padding: 2px;
}

a.pqm-link { 
    color: #3c80f6;
    text-decoration: none;
}

a.pqm-link:hover { 
    cursor: pointer;
    text-decoration: underline;
    color: #1E90FF;
}

a.pqm-link:active {
    color: #FF8C00;
    text-decoration: underline;
}
.foto-persona20 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*input[type=text] {
    border : 1px solid #CCCC99;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:3px;
    padding: 3pt;
}
input[type=text]:focus {
    -webkit-box-shadow: inset 1px 2px 2px #64CCFC;
    -moz-box-shadow: inset 1px 2px 2px #64CCFC;
    box-shadow:  2px 2px 2px #64CCFC;
}*/
/*
select {
    border : 1px solid silver;
    padding: .4em;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
select:focus {
    -webkit-box-shadow: inset 1px 2px 2px #64CCFC;
    -moz-box-shadow: inset 1px 2px 2px #64CCFC;
    box-shadow:  2px 2px 2px #64CCFC;


input[type=text] {
    border : 1px solid silver;
    padding: .4em;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
}*/

.min_md_menu_item{
    min-height: 40px;
    height: 40px;
}
.reprod_total{
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    background: #cccccc;
    color: #666666;
    border-radius: 50%;
}

.foto_interp_repr{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.truncate_text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-autocomplete-suggestions li {
    line-height: 30px;
    height: 30px;
}

md-autocomplete[md-floating-label] {
    height: 70px;
}