<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Tipos Grupo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="form.cancel()">
          <ng-md-icon icon='close'></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      	<div layout-gt-xs="row">
          <md-input-container class="md-block" flex>
            <label>Codigo</label>
            <input ng-model="form.obj.codigo" requerid>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Nombre</label>
            <input ng-model="form.obj.nombre" requerid>
        </md-input-container>
                  <md-input-container class="md-block" flex>
            <label>Nombre General</label>
            <input ng-model="form.obj.nombre_plural" requerid>
        </md-input-container>
                  <md-input-container class="md-block" flex>
            <label>Abreviatura</label>
            <input ng-model="form.obj.abreviatura" requerid>
        </md-input-container>
       </div>
       </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="form.cancel()">
       Cancelar
      </md-button>
      <md-button class="md-raised md-primary" ng-click="form.guardar()">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>