<div class="md-padding">
	<input placeholder="Buscar..." 
	type="text" style="padding: 6px; font-size: 16px; color: rgb(102, 102, 102);" 
	name="search_text" 
	ng-model="ctrl.search" maxlength="50" autofocus="" 
	ng-keyup="ctrl.listar(ctrl.search, 0)"/>
	<br><br>
	<md-button class="md-icon-button md-raised md-primary" aria-label="a" ng-click="ctrl.new_edit($event);">
        <ng-md-icon icon='add'></ng-md-icon>
    </md-button>
	<table width="100%" style="font-size: 13px;">
		<tr>
			<th>N°</th>
			<th>Codigo</th>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Estado</th>
			<th colspan="2" width="5%" height="5%">Opciones</th>
		</tr>
		<tr ng-repeat="p in ctrl.listado">
			<td align="center">{{$index+1}}.</td>
			<td>{{p.codigo}}</td>
			<td>{{p.nombre}}</td>
			<td>{{p.descripcion}}</td>
			<td align="center">
				<span class="estado estado{{p.estado}}">
					<span ng-if="p.estado == '1'">Activo</span>
					<span ng-if="p.estado == '0'">Desactivado</span>
				</span>
			</td>
			<td>
				<md-button class="md-icon-button  md-warn" ng-click="ctrl.new_edit($event, p);">
				<ng-md-icon icon='create'></ng-md-icon></md-button>
			</td>
			<td>
				<md-button class="md-icon-button  md-primary" ng-click="ctrl.delete($event, p);">
				<ng-md-icon icon='delete'></ng-md-icon></md-button>
			</td>
		</tr>
	</table>
	<br>
	
</div>

<style type="text/css">
	table {
  border-collapse: collapse;
}
.estado{
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold; 
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;

}
.estado1{
	background-color: green;
}
.estado0{
	background-color: red;
}

table, th, td {
  border: 1px solid silver;
}
tr:nth-child(even) {background-color: #f2f2f2;}
</style>