<!-- aside -->
<md-sidenav id="menu" class="app-aside md-sidenav-left" ng-class="{'folded': app.setting.asideFolded}" ui-view="menu" md-component-id="menu">
</md-sidenav>
<!-- / aside -->
<!-- content -->
<div id="barra" class="app-content" role="main" ui-view="barra">
</div>
<!-- / content -->