<div class="box bg-white">
    <div class="navbar no-radius">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <div layout="column">
                    <img ng-src="recursos/imag/logo.png" 
                         style="width: 60px; padding-right: 5px; height: 55px;" 
                         alt="Logo">
                </div>
                <div layout='column'>
                    <span class="md-caption">VENTAS </span>
                    <span class='md-body-1'><b>LA RESERVA</b></span>
                </div>
                <span flex></span>
            </div>
        </md-toolbar>
        <!-- / brand -->
    </div>
    <div class="box-row" style="background: #fafafa;">
        <div class="box-cell scrollable hover">
            <div class="box-inner ">
                <div id="nav" ng-include="'views/menu_lis.html'"></div>
            </div>
        </div>
    </div>
    <div class="md-padding" style="background: #fafafa;">
        <span class="md-caption"></span>
    </div>
</div>