<nav>
    <ul class="nav">
        <div ng-repeat="p in menu">
            <li class="nav-header">
                <div style="font-size: 13px; color: #666666;">
                    {{p.title}}
                </div>
            </li>
            <ul class="nav">
                <li ng-repeat="q in p.children" ui-sref-active="active">
                    <a md-ink-ripple ng-click="close_sidenav('menu');" style="cursor: pointer; text-decoration: none; color: #666666;" ui-sref="{{q.state}}">
                        <ng-md-icon icon="{{q.icon}}"></ng-md-icon> <span class="font-normal">{{q.title}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </ul>
</nav>