<md-dialog aria-label="a">
  <form name="myform" ng-cloak autocomplete="off" spellcheck="false">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <any ng-if="!form.obj.id">Nuevo</any>
          <any ng-if="form.obj.id">Editar</any>Detalle de Ingreso
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="form.cancel()">
          <ng-md-icon icon='close'></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex>
            <label>Cantidad</label>
            <input ng-model="form.obj.cantidad" name="cantidad" md-maxlength="20" md-autofocus>
            <div ng-messages="myform.cantidad.$error" role="alert" multiple>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Precio</label>
            <input ng-model="form.obj.precio_venta" required name="precio_venta" md-maxlength="120">
            <div ng-messages="myform.precio_venta.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Descuento</label>
            <input ng-model="form.obj.descuento" required name="descuento" md-maxlength="20">
            <div ng-messages="myform.descuento.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
            </div>
        </md-input-container>
      </div>
        <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Articulo</label>
            <md-select ng-model="form.obj.articulo_id" name="articulo_id" required>
              <md-option ng-repeat="p in form.articulos" ng_value="p.id">{{p.nombre}}</md-option>
            </md-select>
          </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
            <label>Venta</label>
            <md-select ng-model="form.obj.venta_id" name="venta_id" required>
              <md-option ng-repeat="p in form.ventas" ng_value="p.id">{{p.tipo_comprobante}}</md-option>
            </md-select>
          </md-input-container>
           
       </div>
       </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      {{form.obj.nombre}}
      <span flex></span>
      <md-button class="md-raised" ng-click="form.cancel()">
       Cancelar
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-click="form.guardar()"
      ng-disabled="!myform.$valid">
          <any ng-if="!form.obj.id">REGISTRAR</any>
          <any ng-if="form.obj.id">ACTUALIZAR</any>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>