<md-dialog aria-label="a">
  <form name="myform" ng-cloak autocomplete="off" spellcheck="false">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <any ng-if="!form.obj.id">Nuevo</any>
          <any ng-if="form.obj.id">Editar</any> Ingreso
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="form.cancel()">
          <ng-md-icon icon='close'></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex>
            <label>Tipo Comprobante</label>
            <input ng-model="form.obj.tipo_comprobante" required name="tipo_comprobante" md-maxlength="60" md-autofocus>
            <div ng-messages="myform.tipo_comprobante.$error" role="alert" multiple>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Serie Comprobante</label>
            <input ng-model="form.obj.serie_comprobante" required name="serie_comprobante" md-maxlength="120">
            <div ng-messages="myform.serie_comprobante.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>N° Comprobante</label>
            <input ng-model="form.obj.num_comprobante" name="num_comprobante">
          </md-input-container>
      </div>


      <div layout-gt-xs="row">
          <md-input-container class="md-block" flex>
            <label>Fecha de Remision</label>
            <input ng-model="form.obj.fecha_remision" name="fecha_remision" md-maxlength="60" md-autofocus>
            <div ng-messages="myform.fecha_remision.$error" role="alert" multiple>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Impuesto</label>
            <input ng-model="form.obj.impuesto" required name="impuesto" md-maxlength="5">
            <div ng-messages="myform.impuesto.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
              <div ng-message="minlength">Minimo 3 caracteres</div>
            </div>
          </md-input-container>

           <md-input-container class="md-block" flex-gt-sm>
            <label>Proveedor</label>
            <md-select ng-model="form.obj.proveedor_id" name="proveedor_id" required>
              <md-option ng-repeat="p in form.tipospersonas" ng_value="p.id">{{p.nombre}}</md-option>
            </md-select>
            <div ng-messages="myform.tipospersonas.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
            </div>
          </md-input-container>
      </div>
       </div>
    </md-dialog-content>



    <md-dialog-actions layout="row">
      {{form.obj.nombre}}
      <span flex></span>
      <md-button class="md-raised" ng-click="form.cancel()">
       Cancelar
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-click="form.guardar()"
      ng-disabled="!myform.$valid">
          <any ng-if="!form.obj.id">REGISTRAR</any>
          <any ng-if="form.obj.id">ACTUALIZAR</any>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>