<div class="md-padding">
	<input placeholder="Buscar..." 
	type="text" style="padding: 6px; font-size: 16px; color: rgb(102, 102, 102);" 
	name="search_text" 
	ng-model="ctrl.search" maxlength="50" autofocus="" 
	ng-keyup="ctrl.listar(ctrl.search, 0)"/>
	<br><br>
	<md-button class="md-icon-button md-raised md-primary" aria-label="a" ng-click="ctrl.new_edit($event);">
        <ng-md-icon icon='add'></ng-md-icon>
    </md-button>
	<table width="100%" style="font-size: 13px;">
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Tipo de Persona</th>
			<th>Tipo documento</th>
			<th>Numero documento</th>
			<th>Direccion</th>
			<th>Telefono</th>
			<th>Email</th>
			<th colspan="2" width="10%">opciones</th>
		</tr>
		<tr ng-repeat="p in ctrl.listado">
			<td align="center">{{$index+1}}.</td>
			<td>{{p.nombre}}</td>
			<td>{{p.tipo_persona}}</td>
			<td>{{p.tipo_doc}}</td>
			<td>{{p.num_doc}}</td>
			<td>{{p.direccion}}</td>
			<td>{{p.telefono}}</td>
			<td>{{p.email}}</td>
			<td>
				<md-button class="md-icon-button  md-warn" ng-click="ctrl.new_edit($event, p);">
				<ng-md-icon icon='create'></ng-md-icon></md-button>
			</td>
			<td>
				<md-button class="md-icon-button  md-primary" ng-click="ctrl.delete($event, p);">
				<ng-md-icon icon='highlight_off'></ng-md-icon></md-button>
			</td>
		</tr>
	</table>
	<br>
	
</div>

<style type="text/css">
	table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid silver;
}
tr:nth-child(even) {background-color: #f2f2f2;}
</style>