<md-dialog aria-label="a" id="size_regular2" >
  <form name="myform" ng-cloak autocomplete="off" spellcheck="false">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <any ng-if="!form.obj.id">Nuevo</any>
          <any ng-if="form.obj.id">Editar</any> Cliente
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="form.cancel()">
          <ng-md-icon icon='close'></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex>
            <label>Nombre</label>
            <input ng-model="form.obj.nombre" name="nombre" md-maxlength="60" md-autofocus>
            <div ng-messages="myform.nombre.$error" role="alert" multiple>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
            </div>
          </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
            <label>TIPO DE DOCUMENTO</label>
            <md-select ng-model="form.obj.tipo_doc" name="tipo_doc" required>
              <md-option value="DNI">DNI</md-option>
              <md-option value="RUC">RUC</md-option>
              <md-option value="PASAPORTE">PASAPORTE</md-option>
            </md-select>
            <div ng-messages="myform.tipo_doc.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex>
            <label>Numero</label>
            <input ng-model="form.obj.num_doc" required name="num_doc" md-maxlength="20" minlength="8">
            <div ng-messages="myform.num_doc.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
              <div ng-message="minlength">Minimo 8 caracteres</div>
            </div>
          </md-input-container>

      </div>
       </div>
    </md-dialog-content>

     <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex>
            <label>Direccion</label>
            <input ng-model="form.obj.direccion" name="direccion" md-maxlength="60">
            <div ng-messages="myform.direccion.$error" role="alert" multiple>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
            </div>
          </md-input-container>


          <md-input-container class="md-block" flex>
            <label>Celular</label>
            <input ng-model="form.obj.telefono" name="telefono" md-maxlength="60">
            <div ng-messages="myform.telefono.$error" role="alert" multiple>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex>
            <label>Em@il</label>
            <input ng-model="form.obj.email" required name="email" md-maxlength="120" minlength="3">
            <div ng-messages="myform.email.$error" role="alert" multiple>
              <div ng-message="required">Este campo es requerido</div>
              <div ng-message="md-maxlength">Supera el maximo de caracteres</div>
              <div ng-message="minlength">Minimo 3 caracteres</div>
            </div>
          </md-input-container>

      </div>
       </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      {{form.obj.nombre}}
      <span flex></span>
      <md-button class="md-raised" ng-click="form.cancel()">
       Cancelar
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-click="form.guardar()"
      ng-disabled="!myform.$valid">
          <any ng-if="!form.obj.id">REGISTRAR</any>
          <any ng-if="form.obj.id">ACTUALIZAR</any>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>